{% extends ":template:layout.html.twig" %}
{% use 'AppBundle:Partcategory:new-modal.html.twig' %}

{% block title %}Add a New Part{% endblock %}

{% block page_title %}
    Add a New Part
{% endblock page_title %}

{% block page_name %}
    <a href="{{ path('admin_part_index') }}"><i class="fa fa-angle-left"></i>Back to the list</a>
{% endblock page_name %}

{% block content %}
    <div class="row">
    <style>
        form {
            display: inline;
        }
    </style>
    <div class="col-md-6">

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-success" type="submit" value="Create"/>
        <a class="btn btn-info" data-toggle="modal" href="{{ path('admin_partcategory_new_modal') }}"
           data-target="#newPartCategory">Add Part Category</a>
        {{ form_end(form) }}
    </div>

        <div class="modal fade" id="newPartCategory" style="display: none;" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                {{ block('modal') }}
            </div>
        </div>
    </div>
{% endblock content %}