{% extends ":template:layout.html.twig" %}

{% block title %}Order{% endblock %}
{% block page_title %}

{% endblock page_title %}

{% block page_name %}
    Order
{% endblock page_name %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .total-value {
            display: inline-block;
            width: 150px;
            margin-right: 8px;
            vertical-align: middle;
            line-height: 36px;
            text-align: right;
            font-size: 18px;
            color: #777;
            margin-left: 15px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <div>
            <div id="shopping-cart" class="col-xs-12">
                <div class="stats-overview stat-block">
                    <div class="details">
                        <div class="numbers">
                            ORDER #{{ cart.orderNumber }}
                        </div>
                        <hr>
                        <div class="title" style="padding-bottom: 10px; padding-top: 0px; margin-top: -7px;">
                            <div>
                                <div class="table-responsive">
                                    <table id="cart-table" class="responsive nowrap table table-striped no-footer"
                                           cellspacing="0">
                                        <thead>
                                        <tr>
                                            <th>PRODUCT #</th>
                                            <th>DESCRIPTION</th>
                                            <th>RETURN</th>
                                            <th>LINE NUMBER (S)</th>
                                            <th>STOCK LOCATION</th>
                                            <th>PREFIX</th>
                                            <th>QTY</th>
                                            <th>SHIP QTY</th>
                                            <th>B.O. QTY</th>
                                            <th>B.O. SHIP QTY</th>
                                            <th>USTER NOTES</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% set totalRequested = 0 %}
                                        {% set totalBackOrdered = 0 %}
                                        {% set totalShipped = 0 %}
                                        {% for item in cart.cartProducts %}
                                            {% set totalRequested = totalRequested + item.quantity %}
                                            {% set totalBackOrdered = totalBackOrdered + item.backOrderQuantity %}
                                            {% set totalShipped = totalShipped + item.shipQuantity %}
                                            <tr>
                                                <td>{{ item.part ? item.part.stockNumber : ' ' }}</td>
                                                <td>{{ item.description }}</td>
                                                <td>
                                                    {% if item.returnRequired %}
                                                        <center><i class='fa fa-check-circle-o'
                                                                   style='font-size: 25px;color: #e2001a; padding-top: 7px;'></i>
                                                        </center>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% for num in item.cartProductLineNumbers %}
                                                        <div style="display: block;">
                                                            {{ num.lineNumber }}
                                                        </div>
                                                    {% endfor %}
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <center>
                                                            {% if item.stockLocation.name is defined %}
                                                                {{ item.stockLocation.name ? item.stockLocation.name : ' ' }}
                                                            {% endif %}
                                                        </center>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <center>
                                                            {% if item.partNumberPrefix.name is defined %}
                                                                {{ item.partNumberPrefix.name ? item.partNumberPrefix.name : ' ' }}
                                                            {% endif %}
                                                        </center>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <center>
                                                            {{ item.quantity }}
                                                        </center>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <center>
                                                            {{ item.shipQuantity }}
                                                        </center>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <center>
                                                            {{ item.backOrderQuantity }}
                                                        </center>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <center>
                                                            {{ item.backOrderShipQuantity }}
                                                        </center>
                                                    </div>
                                                </td>
                                                <td>
                                                    <center>
                                                        {{ item.note }}
                                                    </center>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-xs-12">
                                        <div class="well">
                                            <div class="numbers">
                                                Order Info
                                            </div>
                                            <hr>
                                            <address>
                                                {% if shipping %}
                                                    Shipping: <strong>{{ shipping }}</strong><br>
                                                {% endif %}
                                                Requested By: <strong>{{ requested_by }}</strong><br>
                                                Account Name:
                                                <strong>{{ user.firstName }} {{ user.lastName }}</strong><br>
                                                <a href="mailto:{{ user.email }}"
                                                   style="color: #e2001a;">{{ user.email }}</a>
                                            </address>
                                            {% if office %}
                                                <address style="margin-bottom: 5px;">
                                                    <strong>#{{ office.officeNumber }} {{ office.name }}</strong><br>
                                                    {{ office.address }}<br>
                                                    {{ office.city }}, {{ office.state }} {{ office.zip }}<br>
                                                    <abbr title="Phone">P:</abbr> {{ office.phone }}
                                                </address>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-xs-12">
                                        <div class="well">
                                            <div class="numbers">
                                                USDA Notes
                                            </div>
                                            <hr>
                                            <address>
                                                {{ user_notes }}
                                            </address>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xs-12 invoice-block"
                                         style="text-align: right; margin-top: 30px;float: right;">
                                        <ul class="list-unstyled amounts">
                                            <li><strong>Shipping:</strong><span class="total-value">{{ shipping }}</span><hr></li>
                                            <li><strong>Items Requested:</strong><span class="total-value">{{ totalRequested }}</span></li>
                                            <li><strong>Items Back Ordered:</strong><span class="total-value">{{ totalBackOrdered }}</span></li>
                                            <li><hr><strong>Items Shipped:</strong><span class="total-value">{{ totalShipped }}</span></li>
                                        </ul>
                                        <br>
                                        <a class="btn btn-lg btn-default hidden-print"
                                           href="{{ path('admin_order_edit', {'cart_id': cart.id}) }}"><i
                                                    class="fa fa-arrow-left"></i>
                                            Re-open & Edit Order
                                        </a>
                                        <a class="btn btn-lg btn-info hidden-print"
                                           href="{{ path('admin_home') }}">Home</a>
                                        <a class="btn btn-lg btn-info hidden-print" target="_blank"
                                           href="{{ path('admin_order_print', {'id': cart.id}) }}">Print</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock content %}