{% extends ":template:layout.html.twig" %}

{% block page_title  %}
    Send Invitation
{% endblock page_title %}

{% block page_name  %}
    Send Invitation
{% endblock page_name %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            {{ form_errors(form) }}
            {{ form_start(form, { 'action': path('send_invitation'), 'attr': { 'class': 'form-group' } }) }}
            {{ form_label(form.email) }}
            {{ form_widget(form.email , { 'attr': {'class': 'form-control'} }) }}
            <div style="padding-top: 20px;">
            <input class="btn btn-success" type="submit" value="Send Invitation" />
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock content %}
