{% extends ":template:layout.html.twig" %}
{% block title %}Send Invite{% endblock %}
{% block page_title  %}
    Send Invitation
{% endblock page_title %}

{% block page_name  %}
    <i class="fa fa-home"></i>Send Invitation
{% endblock page_name %}

{% block actions %}
    <div class="btn-group pull-right">
        <button type="button" class="btn btn-fit-height default dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
            Actions <i class="fa fa-angle-down"></i>
        </button>
        <ul class="dropdown-menu pull-right" role="menu">
            <li>
                <a href="{{ path('all_invitations') }}">View All Invitations</a>
            </li>
        </ul>
    </div>
{% endblock actions %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            {{ form_errors(form) }}
            {{ form_start(form, { 'action': path('send_invitation'), 'attr': { 'class': 'form-group' } }) }}
            {{ form_label(form.email) }}
            {{ form_widget(form.email , { 'attr': {'class': 'form-control'} }) }}
            <div class="row" style="padding-top: 20px;padding-bottom: 20px;">
                <div class="col-md-4">
                    {{ form_label(form.admin) }}
                </div>
                <div class="col-md-1" style="margin-top: -10px;">
                    {{ form_widget(form.admin , { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            {{ form_label(form.office) }}
            {{ form_widget(form.office , { 'attr': {'class': 'form-control'} }) }}
            <div style="padding-bottom: 20px;padding-top: 20px;">
            <input class="btn btn-success" type="submit" value="Send Invitation" />
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock content %}
