{% extends ":template:layout.html.twig" %}


{% block page_title %}


    <style>
        .page-bar {
            display: none;
        }
    </style>
{% endblock page_title %}

{% block page_name %}

{% endblock page_name %}

{% block content %}
    <div ng-app="myShoppingList" ng-controller="myCtrl" ng-init="init()" class="ng-cloak" ng-cloak>
        <div class="row">
            <div class="col-md-3 col-sm-4">
                <div class="stats-overview stat-block">
                    <div class="display stat ok huge">

                    </div>
                    <div class="details">
                        <div class="title">

                            Office Information
                        </div>
                        <hr>
                        {% if app.user.office %}
                            <div class="numbers">
                                {{ app.user.office.name }}
                            </div>
                            <div class="title user-info">
                                {{ app.user.office.city }}, {{ app.user.office.state }}
                            </div>
                        {% else %}
                            <div class="numbers">
                                Admin
                            </div>
                            <div class="title user-info">
                                Admin
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4">
                <div class="stats-overview stat-block">
                    <div class="display stat ok huge">

                    </div>
                    <div class="details">
                        <div class="title">
                            Requester
                        </div>
                        <hr>
                        <div class="numbers">
                            {{ app.user.firstName }} {{ app.user.lastName }}
                        </div>
                        <div class="title user-info">
                            Last Login: {{ app.user.lastLogin |date("m/d/Y") }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-md-offset-4">
                <div class="stats-overview stat-block alert alert-success">
                    <div class="display stat bad huge">
                    </div>
                    <div class="details">
                        <div class="title">
                            Items in Cart
                        </div>
                        <hr>
                        <div class="numbers cart">
                            <input ng-model="numItems" disabled style="background: transparent; border: none;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ block('cart') }}
    </div>
{% endblock content %}