{% extends "AppBundle:Cart:cart-header.html.twig" %}
{% block title %}Home{% endblock %}

{% block cart %}
    <style>
    /*.grid-item {
    transform: translate(0, 0) scale(1);
    }
    */
        /* Style the Image Used to Trigger the Modal */
        #myImg {
            border-radius: 5px;
            cursor: pointer;
            transition: 0.3s;
        }

        #myImg:hover {
            opacity: 0.7;
        }

        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0, 0, 0); /* Fallback color */
            background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
        }

        /* Modal Content (Image) */
        .modal-content {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
        }

        /* Caption of Modal Image (Image Text) - Same Width as the Image */
        #caption {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
            text-align: center;
            color: #ccc;
            padding: 10px 0;
            height: 150px;
        }

        /* Add Animation - Zoom in the Modal */
        .modal-content, #caption {
            -webkit-animation-name: zoom;
            -webkit-animation-duration: 0.6s;
            animation-name: zoom;
            animation-duration: 0.6s;
        }

        @-webkit-keyframes zoom {
            from {
                -webkit-transform: scale(0)
            }
            to {
                -webkit-transform: scale(1)
            }
        }

        @keyframes zoom {
            from {
                transform: scale(0)
            }
            to {
                transform: scale(1)
            }
        }

        /* The Close Button */
        .fa-times {
            position: absolute;
            top: 40px;
            right: 75px;
            color: #f1f1f1;
            font-size: 60px;
            font-weight: bold;
            transition: 0.3s;
        }

        .fa-times:hover,
        .fa-times:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }

        /* 100% Image Width on Smaller Screens */
        @media only screen and (max-width: 700px) {
            .modal-content {
                width: 100%;
            }
        }
    </style>
    <div class="row">
        <div id="shopping-cart" class="col-md-12">
            <div class="stats-overview stat-block"
                 style="border-color: #e2001a; border-width: 5px; border-style: solid;">
                <div class="details">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="numbers">
                                PRODUCT SHOPPING CART
                            </div>
                        </div>

                        <div class="numbers" class="col-md-4">
                            <select id="shipping" style="float: right; margin-right: 25px;" required="required"
                                    ng-change="updateShipping()" ng-model="shipping">
                                <option disabled selected value="0">-- Choose Your Shipping Method --</option>
                                {% for ship in shipping %}
                                    <option value="{{ ship.id }}">{{ ship.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <hr>
                    <div ng-if="cart.length == 0">
                        <div style="padding-bottom: 35px; padding-top: 20px;">
                            No products currently in cart.
                        </div>
                    </div>
                    <div ng-if="cart.length != 0">
                        {% verbatim %}
                            <table id="cart-table" class="table table-striped table-bordered" cellspacing="0" style="margin-top: -7px;">
                                <thead style="background: #fff;">
                                <tr>
                                    <th>PRODUCT #</th>
                                    <th>DESCRIPTION</th>
                                    <th>RETURN REQUIRED</th>
                                    <th>LINE NUMBER (S)</th>
                                    <th style="max-width:95%">QUANTITY</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in cart track by $index">
                                    <div ng-if="angular.isobject(item)">
                                        <td style="padding-top: 20px;">{{ item.stock_number }}</td>
                                        <td style="padding-top: 20px;">{{ item.description }}</td>
                                        <td  style="padding-top: 20px;">
                                            <div ng-if="item.require_return == 1">
                                                <center><i class='fa fa-check-circle-o' style='font-size: 25px;color: #e2001a;'></i></center>
                                             </div>
                                        </td>
                                        <td>
                                           <div ng-repeat="num in item.line_numbers track by $index" style="display: inline-block;">
                                                <input ng-model="num.line_number" type="text" class="form-control line-number" ng-change="updateLineNumber(num)" maxlength="4" style="width: 60px;">
                                           </div>
                                           <div style="display: inline-flex;">
                                            <button ng-click="removeLineNumber(item.id)" style="background: transparent; border: none;">
                                                    <i class="fa fa-minus" style="font-size: 20px;color: #e2001a;"></i>
                                                </button>
                                           <button ng-click="addLineNumber(item.id)" style="background: transparent; border: none;">
                                                    <i class="fa fa-plus" style="font-size: 20px;color: #e2001a;"></i>
                                                </button>
                                                </div>
                                        </td>
                           <td style="padding-top: 20px;">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <button ng-click="downQuantity(item.id)" style="background: transparent; border: none;">
                                                    <i class="fa fa-minus" style="font-size: 20px;color: #e2001a;"></i>
                                                </button>
                                            </div>
                                            <div class="col-md-2">
                                            <center>
                                                {{ item.quantity }}
                                             </center>
                                             </div>
                                             <div class="col-md-4">
                                                <button ng-if="option != 'colorhead'" ng-click="upQuantity(item.id)" style="background: transparent; border: none;">
                                                    <i class="fa fa-plus" style="font-size: 20px;color: #e2001a;"></i>
                                                </button>
                                              </div>
                                           </div>
                                        </td>

                                        </div>
                                    </tr>
                            </tbody>
                            </table>
                        {% endverbatim %}
                    </div>
                    <div class="row">
                        <a ng-if="cart.length > 0" class="btn btn-primary" id="review_order"
                           style="float: right;margin-right: 20px; margin-bottom: 20px;" ng-click="reviewOrder()">REVIEW ORDER</a>

                        <button ng-if="option != 'colorhead' && option != 'filters'" type="button"
                                class="btn btn-primary"
                                id="btnAddUnknownItem" data-toggle="modal" data-target="#myModal"
                                style="float: right;margin-right: 20px; margin-bottom: 20px;">ADD AN UNKNOWN ITEM
                        </button>

                        <!-- Modal -->

                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">ADD AN UNKNOWN ITEM</h4>
                                    </div>
                                    <div class="modal-body">
                                            <textarea class="form-control" rows="5"
                                                      id="unknown_item_description"></textarea>

                                        <p style="margin: 22px 0 0px 8px;">Please describe the item in as much
                                            detail as you can.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">CLOSE
                                        </button>
                                        <button type="button" class="btn btn-primary" data-dismiss="modal"
                                                ng-click="addUnknownItem()">ADD TO
                                            ORDER
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="margin-top: 30px;">
            <div class="stats-overview stat-block">
                <div class="details">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="numbers">
                                PRODUCT SEARCH
                            </div>
                        </div>
                        <div id='filters' class="col-md-5">
                            <select class="form-control">
                                <option value="">-- All Categories --</option>
                                {% for category in categories %}
                                    <option value="{{ category.nameCononical }}">{{ category.name }}</option>
                                {% endfor %}
                            </select>

                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="myInputTextField"
                                   placeholder="Search by product Description or Number">
                        </div>
                    </div>
                    <hr>
                    <div class="title" style="padding-bottom: 10px; padding-top: 10px;">
                        <table id="part-table" class="responsive nowrap table table-striped no-footer" cellspacing="0"
                               width="100%">
                            <thead>
                            <tr>
                                <th>CATEGORY</th>
                                <th>PRODUCT #</th>
                                <th width="40px">PHOTO</th>
                                <th>DESCRIPTION</th>
                                <th width="30px">RETURN REQUIRED</th>
                                <th width="50px">ADD TO CART</th>
                            </tr>
                            </thead>
                            <tbody id="container">
                            {% for product in products %}
                                <tr class="grid-item">
                                    <td style="display: none">{{ product.partCategory.nameCononical|upper }}</td>
                                    <td>{{ product.stockNumber }}</td>
                                    <td>
                                        <center>
                                            <a onclick="popup({{ product.id }})" style="    cursor: pointer;">
                                                <i class="fa fa-camera" style="font-size: 22px;color: #e2001a;"></i>
                                                <img id="{{ product.id }}-img" src="/{{ product.webPath }}" width="0"
                                                     height="0" style="display: none;">
                                            </a>
                                        </center>
                                    </td>
                                    <td>{{ product.description }}</td>
                                    <td>{{ product.requireReturn ? "<center><i class='fa fa-check-circle-o' style='font-size: 25px;color: #e2001a;'></i></center>" : '' }}</td>
                                    <td>
                                        <center>
                                            <button ng-click="addItem({{ product.id }})"
                                                    style="background: transparent; border: none;">
                                                <i class="fa fa-shopping-cart"
                                                   style="font-size: 25px;color: #e2001a;"></i>
                                            </button>
                                        </center>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- The Modal -->
    <div id="image_modal" class="modal" style="display: none;">

        <!-- The Close Button -->
        <span class="close" onclick="document.getElementById('image_modal').style.display='none'">
        <a class="fa fa-times">
        </a>
        </span>

        <!-- Modal Content (The Image) -->
        <img class="modal-content" id="img01">

        <!-- Modal Caption (Image Text) -->
        <div id="caption"></div>
    </div>
{% endblock cart %}

{% block footer %}
    <script>
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        };

        var modal = document.getElementById('image_modal');
        var captionText = document.getElementById("caption");
        var modalImg = document.getElementById("img01");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        };

        function popup(id) {
            var img = document.getElementById(id + "-img");
            console.log(img);
            modal.style.display = "block";
            modalImg.src = img.src;
            modalImg.alt = img.alt;
            captionText.innerHTML = img.alt;
        }


        $(document).ready(function () {
            $('#btnAddUnknownItem').on('click', function () {
                $('#unknown_item_description').val('');
            });
            var oTable = $('#part-table').DataTable({
                "paging": false,
                "sDom": '<"top">rt<"bottom"lp><"clear">'
            });

            oTable.column( 0 ).visible( false );

            var searchTableQueryField = $('#myInputTextField');

            searchTableQueryField.on('keyup', function (e) {
                oTable.search(this.value).draw();
            }).on('blur', function (e) {
                searchTableQueryField.trigger('keyup');
            }).trigger('blur');

            $select = $('#filters select');

            $select.change(function () {
                var category = this.value;
                var search = '';

                if ('' === category) {
                  search = '^.*$';
                } else {
                  search = '^' + this.value + '$';
                }

                oTable.columns(0).search(search, true).draw();
            });
        });

        var app = angular.module("myShoppingList", []);

        app.controller("myCtrl", function ($scope) {
            $scope.cart = [];
            $scope.products = [];
            $scope.shipping = '0';
            $scope.numItems = 0;
            $scope.option = "{{ option }}";

            function updateCart(data) {
                $scope.$apply(function () {
                    $scope.cart = data.cart;
                    $scope.shipping = data.shipping;
                    $scope.numItems = data.num_items;
                });
            }



            $.ajax({
                type: 'POST',
                url: "{{ path('api_set_cart_type') }}",
                data: {option: $scope.option},
                dataType: 'json',
                success: function (data) {

                },
                error: function (data) {
                    console.log(data);
                }
            });
            // Load Cart
            $.get("{{ path('api_load_cart') }}").done(updateCart);

            // Load Products
            $.get("{{ path('api_get_products') }}").done(function (data) {
                $scope.products = data;
            });

            $scope.reviewOrder = function () {
                $.get("{{ path('api_review_order_validation') }}").done(function (data) {
                    if (!data)
                        location.reload();
                    else
                        location.href = '{{ path('review_order') }}';
                });
            };

            $scope.updateShipping = function () {
                $.post("{{ path('update_shipping') }}", {line_number: $scope.shipping});
            };

            $scope.addUnknownItem = function () {
                var description = $("#unknown_item_description").val();

                if (description.length <= 0)
                    alert('Description cannot be left blank.');
                else {
                    $.post("{{ path('api_add_unknown_item') }}", {description: description}).done(updateCart);
                    $('#myModal').modal('hide');
                    $('#myModal2').modal('hide');
                }
            };

            $scope.upQuantity = function (cartProduct) {
                $.get("{{ path('api_up_quantity', {"id": "@"}) }}".replace('@', cartProduct)).done(updateCart);
            };

            $scope.downQuantity = function (cartProduct) {
                $.get("{{ path('api_down_quantity', {"id": "@"}) }}".replace('@', cartProduct)).done(updateCart);
            };

            $scope.addItem = function (item) {
                $.post("{{ path('api_add_item') }}", {part: item}).done(function (data) {
                    updateCart(data);
                });
            };

            $scope.addLineNumber = function (item) {
                $.post("{{ path('api_add_line_number') }}", {product_id: item}).done(updateCart);
            };

            $scope.updateLineNumber = function (item) {
                $.post("{{ path('update_line_number') }}", {line_number: item});
            };

            $scope.removeLineNumber = function (item) {
                $.post("{{ path('api_remove_line_number') }}", {product_id: item}).done(updateCart);
            };
        });
    </script>
{% endblock footer %}
